@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido a Spotify</h1>
</div>
    <ul>
        <li>
            <p>Lista de Album <a href=""> ⮕ </a> </p>
        </li>
    </ul>