<nav class="navbar fixed-bottom navbar-dark bg-dark d-md-none">
    <div class="container-fluid justify-content-around">
        <a asp-controller="Home" asp-action="Index" class="nav-link text-white text-center">
            <i class="fas fa-home fa-lg"></i>
            <div class="small">Inicio</div>
        </a>
        <a asp-controller="Albumes" asp-action="Index" class="nav-link text-white text-center">
            <i class="fas fa-search fa-lg"></i>
            <div class="small">Buscar</div>
        </a>
        <a asp-controller="Playlists" asp-action="Index" class="nav-link text-white text-center">
            <i class="fas fa-list fa-lg"></i>
            <div class="small">Biblioteca</div>
        </a>
    </div>
</nav>
