@model IEnumerable<Spotify.Core.Artista>
@{
    ViewData["Title"] = "Artistas";
}

<div class="text-center">
<h2>Lista de Artistas</h2>
</div>

<table class="table">
    <tr>
        <th>Nombre Artístico</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th></th>
    </tr>
@foreach (var artista in Model)
{
    <tr>
        <td>@artista.NombreArtistico</td>
        <td>@artista.Nombre</td>
        <td>@artista.Apellido</td>
        <td>
            <a asp-action="Details" asp-route-id="@artista.idArtista">Detalles</a>
        </td>
    </tr>
}
</table>
<a asp-action="Create" class="btn btn-primary">Crear nuevo</a>

